<!--회원 목록-->
{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">로그인 아이디</th>
        <th scope="col">비밀번호</th>
        <th scope="col">email</th>
        <th scope="col">nickname</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td>
                <a href="/members/{{id}}">
                {{member_id}}
                </a>
            </td>
            <td>{{member_pw}}</td>
            <td>{{member_email}}</td>
            <td>{{member_nickname}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
<a href="/members/create ">회원가입</a>

{{>layouts/footer}}