<!--로그인-->
{{>layouts/header}}
<div class="container">
    <h2>Login</h2>
    <form action="/login_check" method="post">
        <input type="text" name="username" placeholder="아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="submit" value="Submit">
        <input type="button" value="Back" name="back">
    </form>
    <input type="button" value="signUp" id="button_signUp" onclick="window.location.href='/signUp'" >
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 300px;
        margin: 100px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .container input[type="text"],
    .container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .container input[type="submit"],
    .container input[type="button"] {
        width: 100%;
        padding: 12px; /* 조정된 패딩 */
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        margin-top: 10px; /* 간격 조정 */
    }

    .container input[type="submit"]:hover,
    .container input[type="button"]:hover {
        background-color: #45a049;
    }
</style>
{{>layouts/footer}}